In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from numpy.linalg import inv
%matplotlib inline

In [2]:
file=pd.read_csv("linear_regression.csv")

In [3]:
file

     x    y   z
0   10   25  25
1   20   36  68
2   30   45  15
3   35   55  47
4   40   65  32
5   45   72  51
6   55   80   8
7   65   95  65
8   60   80  12
9   78   85  47
10  12   24  33
11  45   98  68
12  98  125  14

In [19]:
a=file['y'].values
b=file['z'].values

In [20]:
a_trans=a.T

In [21]:
theta=inv(a_trans.dot(a)).dot((a_trans).dot(b))
print(theta)

LinAlgError: 0-dimensional array given. Array must be at least two-dimensional

In [13]:
b.size

13